* {
  font-family: "Roboto", sans-serif;
}
.regular {
  font-weight: 300;
}
.normal {
  font-weight: 300;
}
.bold {
  font-weight: 450;
}
span {
  font-weight: 300;
  font-size: 1.1em;
  font-style: normal;
}
.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.logo .regular,
.logo .bold,
.logo .normal {
  white-space: nowrap;
}
.logo .bold {
  margin-left: 5px;
}
@media (max-width: 576px) {
  .logo span {
    font-size: 1.5em;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .logo span {
    font-size: 1.5em;
  }
}
