.lead {
  transition: opacity 0.7s ease-in-out;
}

.lead:hover {
  opacity: 0.5;
}
.background-div {
  /* background-image: url("../../public/willkommen-1-153303e6.webp"); */
  background-size: cover;
  background-position: center;
  /* opacity: 0.7; */
}
.high-blue {
  transition: color 0.25s ease;
}

.high-blue:hover {
  color: #315a7e;
  text-shadow: 6px 6px 8px #c6c4c4;
}
